fastapi[standard]
uvicorn[standard]
starlette

redis
sentence-transformers
torch
psycopg2-binary
pymongo
kafka-python
beautifulsoup4
numpy
scipy
pinecone>=3.0.0
elasticsearch>=8.0.0
supabase
implicit
scikit-learn

pydantic
pandas

python-dotenv

loguru


typing-extensions
google-genai
